# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 频率
subtitle: 风卷过的起点
description: 爱美食/纪录片/夜猫子
keywords: [班班, leirock, Hexo, blog, 博客, economics, pinlyu]
author: 班班
language: zh-CN
timezone: Asia/Shanghai
gray_filter: false # 黑白滤镜

# URL
## If your site is put in a subdirectory, set url as 'http://example.com/child' and root as '/child/'
url: https://pinlyu.com
root: /
permalink: /post/:pid/
permalink_defaults:
pretty_urls:
  trailing_index: false # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: false # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: timeline
category_dir: ''
code_dir: downloads/code
i18n_dir: :lang
skip_render:
  - 404.html

# Writing
new_post_name: :year/:title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: false
  line_number: false
  auto_detect: true
  tab_replace: true
  wrap: true
  hljs: false
prismjs:
  enable: true
  preprocess: true
  line_number: false
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 5
  order_by: -date

# Category & Tag
default_category: life
category_map:
  生活: life
  观点: observer
  文艺: culture
  笔记: notes
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'empty' # do not use file modified time as updated time

# Pagination
## Set per_page to 0 to disable pagination
per_page: 15
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next

# Minifier & Optimization plugin
## See: https://github.com/chenzhutian/hexo-all-minifier
html_minifier:
  silent: true
css_minifier:
  silent: true
js_minifier:
  silent: true
image_minifier:
  enable: false

# Hexo Server
server:
  port: 4000
  ip: 127.0.0.1

# Waline
# For more information: https://waline.js.org
waline:
  enable: true
  libUrl: https://npm.elemecdn.com/@waline/client@2/dist/waline.js
  cssUrl: https://npm.elemecdn.com/@waline/client@2/dist/waline.css
  serverURL: https://cmt.pinlyu.com
  login: disable
  meta: [nick, mail, link]
  requiredMeta: [nick, mail]
  pageSize: 5
  pageview: false
  commentCount: true  # If false, comment count will only be displayed in post page, not in home page
  dark: auto
  emoji: []
  locale:
    placeholder: 在这里分享你的想法！评论通过审核才会显示，回复通过邮件提醒，评论规范详见《网站政策》。
    admin: 站长
    nick: 名称*
    mail: 邮箱*
    link: 网址

# hexo-renderer-markdown-it
# For more information: https://github.com/hexojs/hexo-renderer-markdown-it/wiki/Advanced-Configuration
markdown:
  langPrefix: 'language-'
  plugins:
    - markdown-it-footnote
    - markdown-it-ins
    - markdown-it-sub
    - markdown-it-sup
