<table style="width: 99.8%; ">
    <tbody>
        <tr>
            <td id="QQMAILSTATIONERY" style="background:url(https://rescdn.qqmail.com/zh_CN/htmledition/images/xinzhi/bg/a_07.jpg) repeat-x #e4ebf5; min-height:550px; padding: 100px 55px 200px;">
                <div style="border-radius: 5px;background-color:white;border-top:2px solid #0f6fbe;box-shadow:0 1px 3px #AAAAAA;line-padding:0 15px 12px;width:650px;margin:50px auto;color:#111;font-family:Century Gothic,Trebuchet MS,Hiragino Sans GB,微软雅黑,Microsoft Yahei,Tahoma,Helvetica,Arial,SimSun,sans-serif;font-size:16px;">
                    <h2 style="text-align:center;border-bottom:1px solid #DDD;font-weight:normal;padding:0 0 15px 8px;"><a style="font-size:20px;text-decoration:none;color:#0f6fbe;letter-spacing:6px;" target="_blank"><strong>频率</strong></a><br>
                        <span style="font-size:14px;">风卷过的起点</span>
                    </h2>
                    <div style="padding:0 12px 0 12px;margin-top:18px">
                        <p><b>xxx</b>，您好！</p>
                        <p>您提交的站点已经被 <b>频率</b>&nbsp;收录于 <a href="https://pinlyu.com/links" target="_blank" style="text-decoration: none; color: rgb(15, 111, 190);">友情链接</a> 页面。以后如果链接信息需要更新，请在直接在该页面点击 [收录/更新链接] 提交。期待您常来访问。</p>
                        <p><br></p>
                        <p>顺颂时祺，</p>
                        <p>班班</p>
                        <p style="margin-top:35px;color:#000;background:#f5f5f5;font-size:12px;border:solid 1px #eee;padding:2px 10px;border-radius:4px;">此邮件由系统自动发送，请勿直接回复。如果此邮件不是您请求的，请忽略并删除！</p>
                        <br>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>