{########################}
{### Comment Locating ###}
{########################}
{% if page.comments or post.comments %}
<script type="text/javascript">
if(window.location.hash){
    var checkExist = setInterval(function() {
        if ($(window.location.hash).length) {
            $('html, body').animate({scrollTop: $(window.location.hash).offset().top-90}, 1000);
            clearInterval(checkExist);
        }
    }, 100);
}
</script>
{% endif %}


{####################}
{### Friends Grid ###}
{####################}
<script{{ pjax }} src="/friends/friends.js" type="text/javascript"></script>