<div class="powered">  
    <a href="/tags/">标签</a> · <a href="/policy/">政策</a>
    |
    <a href="https://dlzhang.com" rel="noopener" target="_blank">班班</a>使用 <a href="https://theme-next.js.org" rel="noopener" target="_blank">NexT</a> 主题设计
</div>