<span>
    <a style="border-bottom: none" target="_blank" rel="noopener" href="https://waline.dlzhang.com/ui/login" data-pjax-state="">
        管理
    </a> | 
    <a style="border-bottom: none" target="_blank" rel="noopener" href="https://status.dlzhang.com" data-pjax-state="">
        运行状态
    </a> | 
    <a style="border-bottom: none" target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" data-pjax-state="">
        许可协议
    </a>
</span>