<div class="powered">  
    由 <a href="https://dlzhang.com" rel="noopener" target="_blank">班班</a> 使用 <a href="https://hexo.io" rel="noopener" target="_blank">Hexo</a> <a href="https://theme-next.js.org" rel="noopener" target="_blank">NexT</a> 设计搭建
</div>