{### Favicon ###}
<link rel="icon" href="/resources/favicon/favicon.ico">
<link rel="icon" href="/resources/favicon/favicon.svg" type="image/svg+xml">

{### umami ###}
<script async defer data-website-id="f2b3c6f5-c67a-4e9e-b7d3-5c567c8eaa15" src="https://stats.dlzhang.com/umami.js"></script>

{### 黑白滤镜 ###}
{% if config.gray_filter %}
  <style>
    html {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
    }
    body {
      background-image: none;
      background: #d2d2d2;
    }
  </style>
{% endif %}