{### 哀悼用滤镜 ###}
{% if config.gray_filter %}
  <style>
    html {
      filter: grayscale(85%) saturate(80%);
      -webkit-filter: grayscale(85%) saturate(80%);
      -moz-filter: grayscale(85%) saturate(80%);
      -ms-filter: grayscale(85%) saturate(80%);
      -o-filter: grayscale(85%) saturate(80%);      
    }
    
    @media (prefers-color-scheme: light) {
      body {
        background-image: none;
        background: #d2d2d2;
      }
    }
  </style>
{% endif %}

{### Umami Analytics ###}
{% if config.umami.enable %}
  <script async defer data-website-id="{{ config.umami.website_id  }}" src="{{ config.umami.script_url  }}"></script>
{% endif %}

{### Font Family ###}
<link rel="stylesheet" href="/resources/fonts/longcang/longcang-regular.css" >
<link rel="stylesheet" href="/resources/fonts/lxgw/lxgwwenkailite-regular.css" >