{### Favicon ###}
<link rel="icon" href="/favicon.ico">
<link rel="icon" href="/resources/favicon/favicon.svg" type="image/svg+xml">

{### umami ###}
<script async defer data-website-id="f2b3c6f5-c67a-4e9e-b7d3-5c567c8eaa15" src="https://stats.dlzhang.com/umami.js"></script>