btn-shadow-only() {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

btn-shadow-hover-only() {
  -webkit-box-shadow: $box-shadow-hover;
  -moz-box-shadow: $box-shadow-hover;
  box-shadow: $box-shadow-hover;
}

btn-shadow() {
  btn-shadow-only();
  the-transition-ease-out();

  &:hover {
    btn-shadow-hover-only();
    background: $btn-default-hover-bg !important;
  }
}