{%- if post.categories %}
  {%- for cat in post.categories.toArray() %}
    {%- if cat.name == '书影音' %}
      <div class="culture-related">
        <h3 style="margin-bottom:-.3em"><i class="fas fa-guitar fa-fw"></i>书影音相关推荐</h3>
        <ul>
          <li><a href="/culture/">文艺评论</a></li>
          <li><a href="/culture/books/">阅读书单</a></li>
          <li><a href="/culture/movies/">影视收藏</a></li>
        </ul>
      </div>
    {%- endif %}
  {%- endfor %}
{%- endif %}

<div class="license">
  <div class="license-title">{{ page.title }}</div>
  <div class="license-link">
    <a href="{{ page.permalink }}" rel="external nofollow noopener" target="_blank">{{ page.permalink }}</a>
  </div>
  <div class="license-meta">
    <div class="license-meta-item">
      <div class="license-meta-title">本文作者</div>
      <div class="license-meta-text">
        {%- if post.orig_author %}
          {{ post.orig_author }}
        {%- else %}
          {{ author }}
        {%- endif %}
      </div>
    </div>
    {%- if post.date %}
      <div class="license-meta-item">
        <div class="license-meta-title">发布于</div>
        <div class="license-meta-text">
          {{ date(post.date) }}
        </div>
      </div>
    {%- endif %}
    {%- if post.edit %}
      <div class="license-meta-item">
        <div class="license-meta-title">更新于</div>
        <div class="license-meta-text">
          {{ date(post.edit) }}
        </div>
      </div>
    {%- endif %}
    {%- if post.orig_source %}
      <div class="license-meta-item">
        <div class="license-meta-title">原文出处</div>
        <div class="license-meta-text">
          {%- if post.orig_url %}
            <a href="{{ post.orig_url }}" rel="external nofollow noopener" target="_blank">{{ post.orig_source }}</a>
          {% else %}
            {{ post.orig_source }}
          {%- endif %}
        </div>
      </div>
    {%- endif %}
    <div class="license-meta-item">
      <div class="license-meta-title">许可协议</div>
      <div class="license-meta-text">
        {%- if post.orig_author %}
          原作许可协议
        {%- elif post.cc_license %}
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="external nofollow noopener" target="_blank">CC BY-NC-SA 4.0</a>
        {% else %}
          禁止转载引用
        {%- endif %}
      </div>
    </div>
  </div>
  <div class="license-statement">
    {%- if post.orig_author %}
      转载或引用本文时，请遵守原作许可协议！
    {%- elif post.cc_license %}
      转载或引用本文时，请遵守上述许可协议，注明出处、不得用于商业用途！
    {% else %}
      转载或引用本文前，请先联系作者获得授权！
    {%- endif %}
  </div>
</div>

{%- if not post.orig_author %}
  <div class="donations">
    <div class="donation-label">真诚赞赏，手留余香。</div>
    <a class="afdian-button" href="https://afdian.net/@leirock" rel="external nofollow noopener" target="_blank">赞赏</a>
  </div>
{%- endif %}