{### 首行缩进 ###}
{% if post.indent %}
  <style>
    .post .post-body p {
      text-indent: 2em;
      margin-bottom: 0;
    }
    .post .post-body .image-caption,
    .post .post-body blockquote p {
      text-indent: 0;
      margin-bottom: 1em;
    }
    .post .post-body .note p {
      text-indent: 0;
    }
  </style>
{% endif %}


{### 相关推荐 ###}
{%- if post.tags %}
  {%- for tag in post.tags.toArray() %}
    {%- if tag.name == '文艺' %}
      <div class="arts-related">
        <h3 style="margin-bottom:-.3em"><i class="fas fa-guitar fa-fw"></i>相关推荐</h3>
        <ul>
          <li><a href="/tags/文艺/">文艺评论</a></li>
          <li><a href="/arts/">文艺清单</a></li>
        </ul>
      </div>
    {%- endif %}
  {%- endfor %}
{%- endif %}


{### 版权许可协议 ###}
<div class="license">
  <div class="license-title">{{ page.title }}</div>
  <div class="license-link">
    <a href="{{ page.permalink }}">{{ page.permalink }}</a>
  </div>
  <div class="license-meta">
    <div class="license-meta-item">
      <div class="license-meta-title">本文作者</div>
      <div class="license-meta-text">
        {%- if post.orig_author %}
          {{ post.orig_author }}
        {%- else %}
          {{ author }}
        {%- endif %}
      </div>
    </div>
    {%- if post.date %}
      <div class="license-meta-item">
        <div class="license-meta-title">发布于</div>
        <div class="license-meta-text">
          {{ date(post.date) }}
        </div>
      </div>
    {%- endif %}
    {%- if post.updated %}
      <div class="license-meta-item">
        <div class="license-meta-title">更新于</div>
        <div class="license-meta-text">
          {{ date(post.updated) }}
        </div>
      </div>
    {%- endif %}
    {%- if post.orig_src %}
      <div class="license-meta-item">
        <div class="license-meta-title">原文出处</div>
        <div class="license-meta-text">
          {%- if post.orig_url %}
            <a href="{{ post.orig_url }}" rel="noopener" target="_blank">{{ post.orig_src }}</a>
          {% else %}
            {{ post.orig_src }}
          {%- endif %}
        </div>
      </div>
    {%- endif %}
    <div class="license-meta-item">
      <div class="license-meta-title">许可协议</div>
      <div class="license-meta-text">
        {%- if post.orig_author %}
          原作许可协议
        {%- elif post.cc_license %}
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="noopener" target="_blank">CC BY-NC-SA 4.0</a>
        {% else %}
          禁止转载引用
        {%- endif %}
      </div>
    </div>
  </div>
  <div class="license-statement">
    {%- if post.orig_author %}
      转载或引用本文时，请遵守原作许可协议！
    {%- elif post.cc_license %}
      转载或引用本文时，请遵守上述许可协议，注明出处、不得用于商业用途！
    {% else %}
      如需转载或引用本文，请先获得作者授权！
    {%- endif %}
  </div>
</div>


{### 赞赏 ###}
{### 三类不开启赞赏：转载文章(orig_author: xxx)、通知公告(pid: 0)、手动设置不开启(donation: false) ###}
{%- if (not post.orig_author) and (post.pid > 0) and (post.donation != false) %}
  <div class="donation">
    <div class="donation-label">喜欢这篇文章？赞赏一下吧！</div>
    <a class="donation-button" href="/donation/">赞赏作者</a>
  </div>
{%- endif %}