{### 文章编辑按钮 ###}
{% if not is_index %}
  <span class="post-meta-item">
    <a href="{{ 'https://github.com/' + config.github_repo + '/edit/main/source/' + post.source }}" rel="noopener" target="_blank">编辑</a>
  </span>
{% endif %}