{%- if post.edit %}
  <span class="post-meta-item">
    <time title="{{ '更新时间' + __('symbol.colon') + full_date(post.edit) }}" itemprop="dateModified" datetime="{{ moment(post.edit).format() }}">
      已更新
    </time>
  </span>
{%- endif %}