/***********************************************************/
/************************* Header **************************/
/***********************************************************/

/* header-隐藏顶部线条 */
.headband {
  display: none;
}

/* header-顶部空白 */
.header {
  margin-top: 10px;

  +mobile() {
    margin-top: 0;
  }
}

/* header-顶部圆角 */
.header-inner {
  myradius();

  +mobile() {
    border-radius: 0 0 $myradius $myradius;
  }
}

/* header-页面背景 */
body {
  background-image: url($body-bg-url);
  background-repeat: repeat;
  background-attachment: fixed;

  @media (prefers-color-scheme: dark) {
    background-image: none;
  }
}

/* Day of Mourning */
if (hexo-config('gray')) {
  html {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }
  @media (prefers-color-scheme: light) {
    body {
      background-image: url($body-bg-gray-url);
    }
  }
}

/***********************************************************/
/************************ Sidebar **************************/
/***********************************************************/

/* sidebar-标题背景 */
.site-brand-container {
  background: url($site-brand-bg-url);
  background-position: 70% 20%;
  background-size: cover;
}

/* sidebar-标题 */
.site-subtitle {
  font-weight: bold;
}

/* sidebar-副标题 */
.site-subtitle {
  font-weight: bold;
  font-family: $font-family-quote;
  color: var(--brand-color);
}

/* sidebar-站点描述介绍 */
.site-description {
  color: var(--blockquote-color);
}

/* sidebar-侧边背景 */
.sidebar {
  background: transparent;
}

/* sidebar-圆角 */
.sidebar-inner, //侧边
.sub-menu { //二级菜单
  myradius();
}

/* sidebar-隐藏归档菜单 */
.menu-item-archives {
  display: none !important;
}

/***********************************************************/
/************************** Post ***************************/
/***********************************************************/

/* post-文章卡片圆角 */
.post-block,
.post-block+.post-block {
  myradius();
}

/* post-首页文章标题 */
.index .post-title {
  text-align: left;
  border-left: $btn-default-bg 8px solid;
  padding-left: 10px;
}

/* post-首页文章信息 */
.index .post-meta {
  text-align: left;
}

/* post-文章标题 */
.posts-expand .post-title {
  font-size: 1.35em;
  font-weight: bold;

  +mobile() {
    margin-top: 10px;
  }
}

/* post-文章信息 */
.posts-expand .post-meta {
  margin-bottom: 20px;
}

/* post-文章编辑按钮 */
.posts-expand .post-title .post-edit-link {
  font-size: .8em;
}

/* post-段后距 */
p {
  margin-bottom: 10px;
}

/* post-正文字号 */
.post-body {
  font-size: 1em;
}

/* post-文字加粗 */
.post-body .tabs ul.nav-tabs li.tab a, //标签选择卡片
.popular-posts-header { //相关推荐标题
  font-weight: bold;
}

/* post-超链接 */
.post-body a,
.popular-posts .popular-posts-item .popular-posts-title a {
  border-bottom-color: $grey-light;

  &:hover {
    border-bottom-color: var(--link-hover-color);
  }
}

/* post-图片标题 */
.post-body .image-caption {
  margin: 0 auto 15px;
}

/* post-图片阴影 */
.posts-expand .post-body img {
  box-shadow: $image-box-shadow;
}

/* post-行内代码 */
code {
  font-size: 85%;
  background: none;
  color: var(--text-color);
}

/* post-代码块 */
.highlight-container {
  background: $btn-default-bg;
}

/* post-引用与 note 字体 */
blockquote p,
.post-body .note {
  font-family: $font-family-quote;
}

/***********************************************************/
/************************ Button ***************************/
/***********************************************************/

/* button-back2top */
.back-to-top {
  background: $btn-default-bg;
  opacity: .8;
  font-weight: bold;
  font-size: 1em;
  border-radius: 1em;
}

/* button-reward */
.reward-container button {
  height: 35px;
  width: 35px;
  padding: 1.5px 0 0;
  background: $btn-default-bg;
  border-radius: 5px;
  btn-shadow();
}

/* 修改选中字符的颜色 */
::selection {
  selection-color();
}

::-moz-selection {
  selection-color();
}

/***********************************************************/
/****************** Pagination & Footer ********************/
/***********************************************************/

/* pagination-删去页码框 */
.pagination {
  border: none;
  background: none;
  box-shadow: none;
}

/* pagination-页码按钮 */
.pagination .prev,
.pagination .next,
.pagination .page-number {
  border: none;
  border-radius: 50%;

  &:hover {
    color: white;
    background: $btn-default-hover-bg;
    btn-shadow-hover-only();
  }
}

/* pagination-当前页码 */
.pagination .page-number.current {
  background: $btn-default-bg;
  btn-shadow-only();
}

/* footer */
.footer,
.footer a {
  color: var(--blockquote-color);
}

/***********************************************************/
/************************ Overview *************************/
/***********************************************************/

/* categories */
+mobile() {
  .category-all-page .category-list-item {
    margin: 10px 40px;
  }

  .category-all-page .category-all ul {
    list-style-type: disc;
  }
}

+tablet-desktop() {
  .category-all-page .category-list-item {
    margin: 10px 12px;
  }

  ul.category-list {
    text-align: center;
  }

  li.category-list-item {
    display: inline-block;
  }

  li.category-list-item a {
    line-height: 5;
    word-break: keep-all;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
    background: $btn-default-bg;
    border-bottom: none;
    border-radius: 15px;
    btn-shadow();

    &:hover {
      text-decoration: none;
    }
  }
}

/* tags */
.tag-cloud a, //标签云
.posts-expand .post-tags a { //文章末标签
  padding: 2px 10px;
  margin: 8px;
  background: $whitesmoke;
  border-bottom: none;
  border-radius: 15px;
  btn-shadow();

  &:hover {
    color: white !important;
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    color: var(--text-color) !important;
    background: $btn-default-bg;
  }
}

/***********************************************************/
/*********** Valine Comment (with darkmode) ****************/
/***********************************************************/

/* comment-圆角 */
.comments {
  myradius();
}

/* comment-不显示 OS 浏览器 */
.v .vlist .vcard .vhead .vsys {
  display: none !important;
}

/* comment-文字颜色 */
.v p, //评论正文
.v a, //超链接
.v em, //斜体
.v .vwrap .vheader .vinput { //输入框
  color: var(--text-color) !important;
}

/* comment-按钮 */
.v .vlist .vcard .vh .vmeta .vat, //回复按钮
.v .vwrap .vedit .vctrl span, //表情按钮
.v .vinfo .col, //预览按钮
.v .vinfo .vcount .vnum { //评论框下评论数
  color: var(--blockquote-color) !important;
}

/* comment-查看更多、评论按钮 */
.v .vbtn {
  border: none !important;
  color: white !important;
  background: $btn-default-bg !important;
  btn-shadow();
}

/* comment-MD图标 */
.v .vwrap .vcontrol .col svg {
  fill: var(--blockquote-color) !important;
  opacity: .75;
}

/* comment-输入框 */
textarea#veditor.veditor.vinput {
  background: url($comment-bg-url) 100% 100% no-repeat;
  color: var(--text-color);
}

/* comment-行内代码背景 */
.v code {
  color: var(--text-color) !important;
  background-color: inherit !important;
}

/* comment-代码块背景 */
.v pre {
  background-color: black !important;
}

/* comment-代码块代码颜色 */
.v pre code {
  color: $mywhite-code !important;
}

/* comment-长回复隐藏 */
@media (prefers-color-scheme: dark) {
  .v .vlist .vcard .vcontent.expand {
    &:before {
      background: linear-gradient(180deg, hsla(0, 0%, 0%, 0), hsla(210, 29%, 20%, .9)) !important;
    }
    &:after {
      color: var(--text-color) !important;
      background: hsla(210, 29%, 20%, .9) !important;
    }
  }
}