/**********************************************************/
/************************* 全站背景 ************************/
/**********************************************************/

/* 隐藏顶部线条 */
.headband {
  display: none;
}

/* 顶部边距 */
.header,
.main-inner {
  margin-top: 10px;

  +mobile() {
    margin-top: 0;
  }
}

/* 背景图片 */
body {
  background-image: url($body-bg-url);
  background-repeat: repeat;
  background-attachment: fixed;

  @media (prefers-color-scheme: dark) {
    background-image: none;
  }
}

/* 选中字符颜色 */
::-moz-selection { /* Code for Firefox */
  background: rgba(0, 149, 255, .2);
  color: var(--blockquote-color);
}

::selection {
  background: rgba(0, 149, 255, .2);
  color: var(--blockquote-color);
}


/**********************************************************/
/************************ 侧边栏 ***************************/
/**********************************************************/

/* 侧边圆角 */
.header-inner, //顶部标题
.sidebar-inner { //侧边头像
  border-radius: $myradius;
}

.site-brand-container {
  border-radius: $myradius $myradius 0 0;

  +mobile() {
    border-radius: 0 0 $myradius $myradius;
  }
}

/* 站点标题背景 */
.site-brand-container {
  background: url($site-brand-bg-url);
  background-position: 70% 20%;
  background-size: cover;
}

/* 站点标题文字 */
.site-title {
  letter-spacing: 10px;
  padding-left: 10px; //修正字间距导致的标题左移
}

/* 站点副标题 */
.site-subtitle {
  color: var(--brand-color);
}

/* 站点描述介绍 */
.site-description {
  color: var(--blockquote-color);
  font-family: $font-family-quote;
  font-size: .9em;
}

/* 导航菜单文字 */
.menu-item a {
  font-size: .85em;
}

/* 二级导航菜单 */
.sub-menu {
  border-radius: $myradius !important;
}

/* 社交媒体图标 */
.links-of-author-item a {
  font-size: 1.05em;
}

/* 文章目录、二级导航菜单、文章内tab中选中颜色橘黄色的变更 */
.sidebar-toc-active .sidebar-nav-toc { //文章目录标题
  border-bottom: none;
  color: var(--text-color);
  font-weight: bold;

  &:hover {
    color: var(--text-color);
  }
}

.sidebar-nav li.sidebar-nav-overview {
  display: none; //有目录时不显示博主信息
}

.post-toc .nav a {
  border-bottom: none; //文章目录不显示下划线（未激活项目）
}

.post-toc .nav .active>a, //文章目录（激活项目）
.sub-menu .menu-item-active, //二级导航菜单（激活项目）
.sub-menu .menu-item a:hover { //二级导航菜单（未激活项目）
  border-bottom: none;
  color: var(--link-hover-color);
}

.post-body .tabs ul.nav-tabs li.tab.active { //文章内tab
  border-top-color: var(--link-hover-color);

  & a {
    color: var(--link-hover-color);
  }
}


/**********************************************************/
/************************ 文章 ****************************/
/**********************************************************/

/* 文章卡片 */
.post-block{
  border-radius: $myradius !important;
}

/* 文章与页面标题 */
.posts-expand .post-title {
  font-size: 1.4em;
  font-weight: bold;

  +mobile() {
    margin-top: 10px;
  }
}

/* 文章标题 */
.index .post-title,
.post .post-title {
  text-align: left;
  border-left: $btn-default-bg 8px solid;
  padding-left: 10px;
}

/* 文章信息栏 */
.index .post-meta,
.post .post-meta {
  justify-content: left;
}

.posts-expand .post-header {
  margin-bottom: 30px;
}

.posts-expand .post-meta-container {
  /* 文字颜色 */
  color: var(--text-color);
  /* 时间下划线 */
  time {
    border-bottom: none;
  }
  /* 文章/页面描述 */
  .post-description {
    font-size: .95em;
  }
}

/* 文章信息项超链接 */
.post-meta-item a {
  border-bottom: none;
}

/* 段后距 */
p {
  margin-bottom: 1em;
}

/* 字号大小 */
@media (min-width: 1200px) {
  .post-body {
    font-size: 1.09em;
  }
}

/* 标签选择卡片加粗（书单影单页） */
.post-body .tabs ul.nav-tabs li.tab a {
  font-weight: bold;
}

/* 超链接 */
.post-body a {
  color: var(--link-color);
  transition: all .2s;
  border-bottom-color: var(--link-hover-color);

  &:hover {
    color: var(--link-hover-color);
    
    border-bottom-width: 2px;
  }
}

/* 图片阴影圆角 */
.posts-expand .post-body img {
  /* border-radius: 4px; */
}

/* 图片标题 */
.post-body .image-caption {
  margin: -10px auto 1em;
  font-weight: 400;
}

/* 组图标题 */
.group-picture {
  margin-bottom: 5px;
}

.group-picture-column .image-caption {
  margin-top: 10px;
}

.group-picture .group-picture-row {
  display: inline-flex;
}

/* 提示卡片图标位置 */
.post-body .note:not(.no-icon)::before {
  top: .15em;
}

/* 引用字体颜色 */
blockquote {
  color: var(--text-color);
  background: #f4f5f7;
  border-left: .25em solid #e3e6eb;
  padding: 0 2em;

  &.blockquote-center {
    background: none;
  }

  @media (prefers-color-scheme: dark) {
    background: $blockquote-bg-color-dark;
    border-left: .25em solid #435266;
  }
  
}

/* 代码路径字体 */
figcaption {
  font-family: $font-family-monospace;
}

/* 行内代码 */
code {
  background: #e6e8ee !important; //加!important是为了适配评论中的代码样式
  
  @media (prefers-color-scheme: dark) {
    background: #3e4b5e !important;
  }
}

pre[class*=language-] {
  background: $highlight-background;
  font-size: .85em;

  @media (prefers-color-scheme: dark) {
    background: $highlight-background-dark;
    border-radius: 0;
  }
}

pre[class*=language-]:before {
  color: var(--t-l);
  content: attr(data-language);
  font-size: 1.9em;
  font-weight: 700;
  opacity: .15;
  position: absolute;
  right: .3rem;
  top: .1em;
  text-transform: uppercase;
}

code[class*=language-] {
  background: none !important;
  white-space: break-spaces;
}

code[class*=language-],
pre[class*=language-] {
  text-shadow: none;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  background: none;
}

.token.deleted {
  background: #fdd;
}
.token.inserted {
  background: #dfd;
}

@media (prefers-color-scheme: dark) {
  .token.deleted {
    background: #654545;
  }
  .token.inserted {
    background: #466548;
  }
}

/* 表格边框 */
td, th {
  border-color: #e3e6eb;

  @media (prefers-color-scheme: dark) {
    border-color: #3e4b5e !important;
  }
}

/* 表格背景 */
tbody tr {
  &:hover {
    background: var(--content-bg-color);
  }
  &:nth-of-type(odd):hover {
    background: var(--table-row-odd-bg-color);
  }
}

/* 思源宋体列表打叉修复 */
li {
  text-align: left;
}

/* 文末标签 */
.post-tags {
  text-align: left;
  
  & a {
  border-bottom: none;
  }
}


/**********************************************************/
/************************ 按钮 ****************************/
/**********************************************************/

/* 返回最上按钮 */
.back-to-top {
  background: $btn-default-bg;
  opacity: .8;
  font-weight: bold;
  font-size: 1em;
  border-radius: 1em;

  &:hover {
    color: #fff;  
  }
}

/* 赞赏 */
.donations {
  text-align: center;
  margin-top: 3em;
}

.donation-label {
  margin-bottom: 1em;
  letter-spacing: 1px;
  font-size: .9em;
  font-weight: bold;
}

.afdian-button {
  box-shadow: $box-shadow;
  height: 2.5em;
  line-height: 1.5;
  box-sizing: border-box;
  border-color: transparent;
  padding: .6em .9em;
  border-radius: 4px;
  font-size: .9em;
  color: white;
  background-color: #946ce6;
  font-weight: bold;

  &:hover {
    color: white;
    border-color: transparent;
  }
}


/************************************************************/
/************************ 页码页脚 ***************************/
/************************************************************/

/* 删去页码栏外框 */
.pagination {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}

/* 页码按钮 */
.pagination .prev,
.pagination .next,
.pagination .page-number {
  border: none;
  border-radius: $myradius;

  &:hover {
    color: white;
    background: $btn-default-hover-bg;
    btn-shadow-hover-only();
  }
}

/* 当前页码 */
.pagination .page-number.current {
  background: $btn-default-bg;
  btn-shadow-only();

  @media (prefers-color-scheme: dark) {
    color: #fff;
  }
}

/* 页脚 */
.footer {
  margin-top: 50px;
  padding-bottom: 40px;
  color: var(--blockquote-color);
}

.footer a {
  color: var(--text-color);
  border-bottom:none;
}


/************************************************************/
/************************ 文章汇总 ***************************/
/************************************************************/

/* 分类 */
+mobile() {
  .category-all-page .category-list-item {
    margin: 10px 40px;
  }

  .category-all-page .category-all ul {
    list-style-type: disc;
  }
}

+tablet-desktop() {
  .category-all-page .category-list-item {
    margin: 10px 12px;
  }

  ul.category-list {
    text-align: center;
  }

  li.category-list-item {
    display: inline-block;
  }

  li.category-list-item a {
    line-height: 5;
    word-break: keep-all;
    padding: 10px 15px;
    font-weight: bold;
    color: white;
    background: $btn-default-bg;
    border-bottom: none;
    border-radius: 15px;
    btn-shadow();

    &:hover {
      text-decoration: none;
    }
  }
}

/* 标签云 */
.tag-cloud a {
  padding: 2px 10px;
  margin: 8px;
  background: $whitesmoke;
  border-bottom: none;
  border-radius: 15px;
  btn-shadow();

  &:hover {
    color: white !important;
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    color: var(--text-color) !important;
    background: $btn-default-bg;
  }
}