// 页面宽度和圆角度数
$content-desktop              = 90%;
$content-desktop-large        = 75%;
$content-desktop-largest      = 60%;
$myradius                     = 8px;

// 颜色
$text-color                   = #313135;
$text-color-dark              = #d9dad3;

$link-color                   = $text-color;
$link-color-dark              = $text-color-dark;

$link-hover-color             = #0f6fbe;
$link-hover-color-dark        = #5fb1dd;

$btn-default-bg               = #3f5973;
$btn-default-hover-bg         = $link-hover-color;

$body-bg-color-dark           = #181c27;
$content-bg-color-dark        = #252d38;
$menu-item-bg-color-dark      = #3e4b5e;

// 代码框
$highlight-background         = #f4f5f7;
$highlight-background-dark    = #3c495b;

// 表格
$table-row-odd-bg-color       = $blockquote-bg-color;
$table-row-odd-bg-color-dark  = $blockquote-bg-color-dark;

// 引用框
$blockquote-bg-color          = $highlight-background;
$blockquote-bg-color-dark     = #2f3947;

// 阴影
$image-box-shadow             = 0 5px 15px 0px rgba(0, 0, 0, .4);
$box-shadow                   = 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
$box-shadow-hover             = 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);

// 图片路径
$images_cdn                   = hexo-config('images');
$site-brand-bg-url            = $images_cdn + 'header.jpg';
$body-bg-url                  = $images_cdn + 'body.png';
$body-bg-gray-url             = $images_cdn + 'body-gray.png';
$comment-bg-url               = $images_cdn + 'comment.png';