// Margin and radius
$content-desktop              = 80%;
$content-desktop-large        = 72%;
$content-desktop-largest      = 55%;
$myradius                     = 8px;

// Color and shadow
$myblue-deepest               = #131d27;
$myblue-deeper                = #15202b;
$myblue-deep                  = #192734;
$myblue                       = #3f5973;
$myblue-light                 = #0477ab;
$myblue-lighter               = #649ab6;
$myblack                      = #1c1c21;
$mywhite                      = #e1e1e1;
$mywhite-code                 = #eaeaea;

$text-color                   = $myblack;
$link-color                   = $myblack;
$link-hover-color             = $myblue-light;
$body-bg-color-dark           = $myblue-deeper;
$content-bg-color-dark        = $myblue-deep;
$text-color-dark              = $mywhite;
$link-color-dark              = $mywhite;
$link-hover-color-dark        = white;
$menu-item-bg-color-dark      = $myblue-deepest;
$btn-default-bg               = $myblue;
$btn-default-hover-bg         = $myblue-lighter;

$image-box-shadow             = 0 5px 15px 0px rgba(0, 0, 0, .4);
$box-shadow                   = 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
$box-shadow-hover             = 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);

// Font family
$font-family-latin            = "EB Garamond";
$font-family-chinese          = "Noto Serif SC", "PingFang SC", "Microsoft YaHei";
$font-family-kaiti            = STKaiti, KaiTi, SimKai, DFKai-SB;
$font-family-quote            = $font-family-latin, $font-family-kaiti, $font-family-chinese, sans-serif;
$font-family-base             = $font-family-latin, $font-family-chinese, sans-serif;
$font-family-posts            = $font-family-base;
$font-family-headings         = $font-family-base;

// Image assets CDN url
if (hexo-config('images') == 'images') {
  $img-cdn-url = '../' + hexo-config('images')  + '/';
} else {
  $img-cdn-url = hexo-config('images') + '/';
}
$site-brand-bg-url            = $img-cdn-url + "header-bg.jpg";
$body-bg-url                  = $img-cdn-url + "body-bg.png";
$body-bg-gray-url             = $img-cdn-url + "body-bg-gray.png";
$comment-bg-url               = $img-cdn-url + "comment-bg.png";