// Margin and radius
$content-desktop              = 80%;
$content-desktop-large        = 72%;
$content-desktop-largest      = 55%;
$myradius                     = 8px;

// Color
$text-color                   = #313135;
$text-color-dark              = #d9dad3;

$link-color                   = $text-color;
$link-color-dark              = $text-color-dark;

$link-hover-color             = #2a6df4;
$link-hover-color-dark        = #5fb1dd;

$btn-default-bg               = #3f5973;
$btn-default-hover-bg         = #649ab6;

$body-bg-color-dark           = #15202b;
$content-bg-color-dark        = #192734;
$menu-item-bg-color-dark      = #131d27;

// Shadow
$image-box-shadow             = 0 5px 15px 0px rgba(0, 0, 0, .4);
$box-shadow                   = 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
$box-shadow-hover             = 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);

// Font family
$font-family-quote            = "EB Garamond", STKaiti, KaiTi, SimKai, DFKai-SB, "Noto Serif SC";

// Image assets
$site-brand-bg-url            = "/images/header-bg.jpg";
$body-bg-url                  = "/images/body-bg.png";
$body-bg-gray-url             = "/images/body-bg-gray.png";
$comment-bg-url               = "/images/comment-bg.png";